In [1]:
# tabular manipulation
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import env

# ex1
Acquire 

-bedroomcnt
-bathroomcnt
-calculatedfinishedsquarefeet
-taxvaluedollarcnt
-yearbuilt
-taxamount
-fips 

from the zillow database for all 'Single Family Residential' properties.

In [6]:
def get_zillow_data():
    '''
    loads zillow data from sql query
    '''
    url = env.get_db_url('zillow')
    query = '''
    select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
    from propertylandusetype
        join properties_2017
            using (propertylandusetypeid)
        WHERE propertylandusedesc = ("Single Family Residential")
    '''

    df = pd.read_sql(query, url)
    return df

In [23]:
#saving to dataframe
zillow_df= get_zillow_data()

In [24]:
zillow_df.shape

(2152863, 7)

# ex2
Using your acquired Zillow data, walk through the summarization and cleaning steps in your wrangle.ipynb file like we did above. You may handle the missing values however you feel is appropriate and meaningful; remember to document your process and decisions using markdown and code commenting where helpful.

In [25]:
zillow_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152863 entries, 0 to 2152862
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 115.0 MB

In [26]:
zillow_df.isnull().sum()

bedroomcnt                        11
bathroomcnt                       11
calculatedfinishedsquarefeet    8484
taxvaluedollarcnt                493
yearbuilt                       9337
taxamount                       4442
fips                               0
dtype: int64

In [33]:
zillow_df = zillow_df.dropna()

In [34]:
zillow_df.shape

(2140235, 7)

In [29]:
zillow_df.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips
4,4.0,2.0,3633.0,296425.0,2005.0,6941.39,6037.0
6,3.0,4.0,1620.0,847770.0,2011.0,10244.94,6037.0
7,3.0,2.0,2077.0,646760.0,1926.0,7924.68,6037.0
11,0.0,0.0,1200.0,5328.0,1972.0,91.60,6037.0
14,0.0,0.0,171.0,6920.0,1973.0,255.17,6037.0

In [30]:
zillow_df.yearbuilt = zillow_df.yearbuilt.astype(int)
zillow_df.bedroomcnt = zillow_df.bedroomcnt.astype(int)
zillow_df.fips = zillow_df.fips.astype(int)
zillow_df.taxvaluedollarcnt = zillow_df.taxvaluedollarcnt.astype(int)
zillow_df.calculatedfinishedsquarefeet = zillow_df.calculatedfinishedsquarefeet.astype(int)

In [31]:
zillow_df.dtypes

bedroomcnt                        int64
bathroomcnt                     float64
calculatedfinishedsquarefeet      int64
taxvaluedollarcnt                 int64
yearbuilt                         int64
taxamount                       float64
fips                              int64
dtype: object

# ex3
Write a function to split your data into train, validate, and test.

In [32]:
def splitting_data(df, col):
    '''
    input dataframe and target variable to stratify on
    returns 3 dataframes serving as train, validate, and test samples
    '''

    #first split
    train, validate_test = train_test_split(df,
                     train_size=0.6,
                     random_state=123,
                     stratify=df[col]
                    )
    
    #second split
    validate, test = train_test_split(validate_test,
                                     train_size=0.5,
                                      random_state=123,
                                      stratify=validate_test[col]
                        
                                     )
    return train, validate, test

# ex4
Store all of the necessary functions to automate your process from acquiring the data to returning a cleaned dataframe with no missing values in your wrangle.py file. Name your final function wrangle_zillow.

In [35]:
#fetch sql data    
def get_zillow_data():
    '''
    loads zillow data from sql query
    '''
    url = env.get_db_url('zillow')
    query = '''
    select bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
    from propertylandusetype
        join properties_2017
            using (propertylandusetypeid)
        WHERE propertylandusedesc = ("Single Family Residential")
    '''

    df = pd.read_sql(query, url)
    return df    
    
#functionize/wrangle - acquisition and preparation
def wrangle_zillow():
    zillow_df= get_zillow_data()

#blank space and nulls
    zillow_df = zillow_df.dropna()
    
#change datatypes to ints
    zillow_df.yearbuilt = zillow_df.yearbuilt.astype(int)
    zillow_df.bedroomcnt = zillow_df.bedroomcnt.astype(int)
    zillow_df.fips = zillow_df.fips.astype(int)
    zillow_df.taxvaluedollarcnt = zillow_df.taxvaluedollarcnt.astype(int)
    zillow_df.calculatedfinishedsquarefeet = zillow_df.calculatedfinishedsquarefeet.astype(int)
    
    return zillow_df

In [37]:
test = wrangle_zillow()

In [38]:
test.dtypes

bedroomcnt                        int64
bathroomcnt                     float64
calculatedfinishedsquarefeet      int64
taxvaluedollarcnt                 int64
yearbuilt                         int64
taxamount                       float64
fips                              int64
dtype: object